.registration_header {
	height: 74px;
	padding: 30px 0 0 0;
	position: relative;	
}
.add_text {
	width: 95px;
	height: 22px;
	//background: url("../images/add_text.png") no-repeat;
	position: relative;	
}
.margin_l {
	margin: 0 0 19px 0;
	position: relative;	
}
.margin_b {
	margin: 0 0 35px 0;
	position: relative;	
}
.margin_sb {
	margin: 0 0 45px 0;
	position: relative;	
}
.registration_form_item {
	position: relative;	
}

.form_label {
	position: relative;	
}
.name_text {
	width: 81px;
	height: 12px;
	//background: url("../images/name_text.png") no-repeat;		
	margin: 0 0 7px 0;
	position: relative;	
}
.info_text {
	width: 55px;
	height: 15px;
	//background: url("../images/info_text.png") no-repeat;		
	margin: 0 0 5px 0;
	position: relative;	
}

.form_item_content {
	height: 40px;	
	position: relative;	
}
.my_input[type="text"],[type="password"] {
	position: relative;	
	behavior: url(PIE.htc);
	float: left;
	margin: 5px 0px 5px 0px;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 24px;
	padding: 4px 4px 5px 4px;
	width: 300px;
	height: 30px;
	border: 1px solid #DDD;
	background-color: #F9F9F9;
	font-weight: bold;
	color: #7e7e7e;
	position:relative;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #7e7e7e;	
	-webkit-box-shadow: 1px 1px 1px #7e7e7e;
	box-shadow: 1px 1px 1px #7e7e7e;

}

.add_button {
	width: 159px;
	height: 40px;
	//background: url("../images/add_button.png") no-repeat;
	background : #FF0000;
	cursor: pointer;
	margin: 0 0 20px 0;
	position: relative;	
}
.alert_icon {
	width: 27px;
	height: 26px;
	background: url("../images/alert_symbol.png") no-repeat;			
	margin: 12px 0 0 15px;
}
.alert_text {
	color: #ab3304;
	font-size: 12px;
	margin: 17px 0 0 10px;
	
}




.enter_content {
	position: relative;	
	width: 204px;
	height: 170px;
	background: url("../images/enter_back.png") no-repeat;
	position: relative;
}

.my_input_margin {
	margin: 5px 0px 4px 12px;
}
.my_input_enter[type="text"], .my_input_enter[type="password"] {
	position: relative;	
	behavior: url(PIE.htc);
	float: left;	
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 24px;
	padding: 4px 4px 5px 4px;
	width: 170px;
	height: 20px;
	border: 1px solid #DDD;
	background-color: #F9F9F9;
	font-weight: bold;
	color: #7e7e7e;
	position:relative;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #7e7e7e;	
	-webkit-box-shadow: 1px 1px 1px #7e7e7e;
	box-shadow: 1px 1px 1px #7e7e7e;

}



.margin_check {
	margin: 12px 0 0 13px;		
}

.styled_checkbox {
	
}
.styled_checkbox_not_selected {
	width: 14px;
	height: 14px;
	background: url("../images/checkbox.png") no-repeat;
}
.styled_checkbox_selected {	
	width: 14px;
	height: 14px;
	background: url("../images/checkbox_selected.png") no-repeat;
}

.remember_me_text {
	margin: 12px 0 0 10px;
	font-size: 12px;
	color: #ab3304;
}
.registration_link {
	font-size: 12px;
	color: #ab3304;
	text-decoration: underline;
	cursor: pointer;
	margin: 18px 0 0 12px;
}
.enter_active_button {
	width: 79px;
	height: 30px;
	background: url("../images/enter_work_button.png") no-repeat;	
	margin: 10px 12px 0 0;
	cursor: pointer;
}

.enter_inside_button {
	position: relative;	
	width: 62px;
	height: 33px;
	background: url("../images/enter_button.png") no-repeat;
	cursor: pointer;
	margin: 0 0 6px 0;
}
.enter-panel {
	position: relative;	
	margin: 25px 0 0 0;
	width: 204px;
	height: 195px;
	background: url("../images/enter_panel.png") no-repeat;	
}